footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color2);
  padding-bottom: 1rem;
  font-size: 0.6rem;
}

footer span {
  color: var(--color3);
  padding-bottom: 0.3rem;
}

footer p {
  color: var(--color4);
}

footer b {
  color: var(--color3);
}

footer img {
  max-width: 90px;
}
