.search-form {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonX {
  border-color: transparent;
  color: var(--color1);
  background: none;
  font-size: 1.1rem;
}

.search-form select {
  border-color: var(--color1);
  padding: 0.2rem;
  border-radius: 5px;
  background-color: var(--color2);
  color: var(--color3);
  text-align: center;
  width: 12rem;
  box-shadow: 1px 1px 10px var(--color4);
}
